@charset "utf-8";

  html,body{width:100%;height:100%;margin:0;padding:0;font-family: 'Noto Sans KR', sans-serif;}
  body ul,li,ol,dl{list-style:none;padding-left:0;}
  a{text-decoration: none;color:#2e3035;}
  a:hover,:focus{color:#2e3035;}
  /* 히든 클래스 */
  legend, .a11yHidden{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    clip-path: polygon(0 0, 0 0, 0 0);
  }
  /* 스킵네비게이션 */
  #skipnavigation {
    
  }
  #skipnavigation ul{
    margin:0;
  }  
  #skipnavigation a {
    left: -1000%;
    position: absolute;
	text-decoration:none;
}
#skipnavigation a:active,#skipnavigation a:focus,#skipnavigation a.focus {
    background: rgb(5, 92, 245);
	  position:absolute;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    color: #fff;    
}
  /* float를 해제하기 위한 clear 선언 */
  .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }
  /* 기본 박스 사이징 재 설정 
  (width에 border-width와 padding을 포함하여 계산) */
  *, *::before, *::after{
    box-sizing: border-box;
  }

  .header-area{
    position:fixed;
    width:100%;
    background:rgba(255, 255, 255, .5);
    z-index:100;
    top:0;
  }
  .header-area header{
    display:flex;
    max-width:1024px;
    margin:0 auto; 
    align-items: center;   
    height:80px;
  }
  header h1{
    position: relative;
    top:-5px;
  }
  header .nav-wrap{
    width:100%;
  }
  header .nav-wrap #gnb{
    display:flex;
    justify-content: space-between;
    align-items: center;
  } 
  #gnb ul{
    display:flex;
    margin-left:100px;
  }
  #gnb ul li{
      color:#2e3035;
      padding: 0 14px;
      font-size:15px;
      font-weight:300;
  }
  #gnb .snb{
      display:none;

  }

  /* 비쥬얼 부분 */

  .visual{
    background:url(../img/petsitting-desktop.jpg)no-repeat 50% 50%;
    background-size:cover;   
    width:100%;
    position:relative;
    padding:340px;
  }
  .visual .visual-text{
      position: absolute;
      top:180px;
      left:27%;
  }
  .visual .visual-text p:nth-child(1){
      margin-bottom:0;
      font-size:17px;
  }
  .visual .visual-text strong{
      font-size:56px;
      color: rgb(46, 48, 53);
      line-height:70px;
      letter-spacing:-0.5px;
      font-weight:900;
  }
  .visual .visual-text p:nth-child(3){
      font-size:20px;
      line-height:30px;
      margin:15px 0;
  }
  .visual .visual-text p:nth-child(4) a{
      background-color: rgb(5, 92, 245);
      width:250px;
      display:block;
      height:50px;
      line-height:50px;
      text-align:Center;
      color:#fff;
      border-radius:3px;
      margin-top:70px;
      font-weight:bold;
      font-size:18px;
  }
  /* 메인 컨텐츠 시작 */
  main{
      padding-top:50px;
      width:100%;
      display:block;
      margin:0 auto;
  }
  main h2{
    font-size:40px;
    padding-bottom:60px;
    margin-bottom:0;
    margin-top:70px;
  }
  main h3{
    margin-top:0;
  }
  main .walk_lonely_area{
    padding-bottom:110px;
    border-bottom:1px solid rgb(218, 221, 226);
    max-width:830px;
    margin:0 auto;
  }

  main .walk_lonely_area article .dog_walk, .cat_lonely{
      display:flex;
  }
  main .walk_lonely_area article .cat_lonely{
    margin-top:50px;
  }
  main .walk_lonely_area img{
      width:50%;
      display:block;
      margin-right:50px;
  }
  main .walk_lonely_area article .dog_walk div h3, .cat_lonely div h3 {
      font-size:21px;  
      margin-bottom:10px;
  }
  main .walk_lonely_area article .dog_walk div p, .cat_lonely div p{
      font-size:15px;
      font-weight:300;
      width: 88%;
      margin-top:0;
  }
/* 서비스 범위 및 서비스 요금 */
.pet_service_area{
    padding-bottom:110px;
    border-bottom:1px solid rgb(218, 221, 226);
    max-width:830px;
    margin:0 auto;   
    position:relative;
}
.pet_service_area h4{
  border-bottom: 0.5px solid rgb(218, 221, 226);
  padding-bottom:10px;
}
.pet_service_area article .dog_service, .cat_service{
  display:flex;
}
.dog_position_area{
  padding-top:35px;
}
.pet_service_area .cat_position_area .service_tab button{
  margin-left:91px;
}
.pet_service_area article .dog_service img, .cat_service img{
  width:50%;
}
.pet_service_area article ul{
  margin:0;
}
.pet_service_area article ul li{
  counter-increment: item;
  margin-left:50px;
  font-size:15px;
  font-weight:400;
}
.pet_service_area article ul li::before{
  content: counter(item, disc) " ";
  color:rgb(5, 92, 245);
  font-size:22px;
  line-height:18px;
}
.dog_service, .cat_service{
  display:none;
}
.board .board-act{
  display:flex;

}
.dog_position_area .service_tab{
  padding-top:30px;
  border-top:1px solid #ccc;
}
.tab{
  font-weight:400;
  margin:0;
  font-size:1.4rem;
}
.tab button{
  display:block;
  padding:10px 10px;
  border:#fff;
  background:0;
  color:#888;
  cursor: pointer;
  /* background:#ccc linear-gradient(180deg, #bbb, #eee); */
  /* 그라디언트속성을 지원안할경우 대비해 앞에 #ccc 처럼 배경을 넣어논다 */
  position:absolute;
  top:160px;
}
.pet_service_area .tab button:hover{
  transition:0.3s;
  border-bottom:3px rgb(5, 92, 245);  
}
.pet_service_area .service_cost{
  margin:0 auto; 
  margin-top:80px;
}
.pet_service_area .service_cost .cost_area{
  border:1px solid rgb(227, 229, 234);  
}
.pet_service_area .service_cost ul{
  text-align:center;
}
.pet_service_area .service_cost .cost_title:nth-child(1){
  border-bottom:1px solid rgb(227, 229, 234);  
}
.pet_service_area .service_cost .cost_title:nth-child(1) li{
  font-weight:bold;  
}
.pet_service_area .service_cost .cost_title:nth-child(2){
  border-bottom:1px solid rgb(227, 229, 234);  
}
.pet_service_area .service_cost ul li{
  margin:0 auto;
}
.pet_service_area .service_cost .cost_title{
  display:flex;
}
.pet_service_area .service_cost .cost_title li{
  padding: 10px;
  width:33.333%
}
.pet_service_area .service_cost .cost_title li:nth-child(3){
  background-color: rgb(243, 244, 248);
}
.pet_service_area .service_cost .cost_title li span{
  display:block;
}
.pet_service_area .service_cost ul li::before{
    content:'';
    display:none;
}
.pet_service_area .service_cost p{
   color: rgb(163, 167, 174);
   margin-right: 8px;
   margin-bottom: 0px;
   line-height: 1.5;
   padding-bottom:64px;
}
.possibility_area p{
  margin:0;
}
/* 펫시터 방문 */
main .petsitter_area{
    padding-bottom:110px;
    border-bottom:1px solid rgb(218, 221, 226);
    max-width:830px;
    margin:0 auto;
}
main .petsitter_area .petsitter_flex{
    display:flex;
    justify-content: space-between;
}
main .petsitter_area .petsitter_flex div{
  width:30%;
}
main .petsitter_area .pet_certification{
  margin-top:48px;
  padding:24px 30px;
  background-color: rgb(239, 247, 255);
}
.pet_certification h4{
  font-size:17px;
  margin:0 0 5px 0;
  display:flex;
}
.pet_certification h4 span{
  height:24px;
  margin-right:15px;
}
.pet_certification p{
  margin:0;
  margin-left:39px;
  font-weight:300;
}
/* 펫시터 실시간 채팅 */
.petsitter_chatting{
  padding-bottom:110px;
  border-bottom:1px solid rgb(218, 221, 226);
  max-width:830px;
  margin:0 auto;
}
.petsitter_chatting .chatting_title{
  display:flex;  
  justify-content: space-between;

}
.petsitter_chatting .chatting_title img{
  width:50%;
  padding:80px 0 48px 0;
}
.petsitter_chatting .chatting_three_content{
  display:flex;
}
.petsitter_chatting .chatting_three_content div{
  width:28%;
  margin-right:50px;
}
.petsitter_chatting .chatting_three_content div:nth-child(1){
  width:30%;
}
/*  펫시터 후기 */
.petsitter_trust{
  padding-bottom:110px;
  border-bottom:1px solid rgb(218, 221, 226);  
  width:100%;
  max-width:100% !important;
  background:#00395b;
}
.petsitter_trust h2{
  max-width:1050px;
  margin:0 auto;
  padding:70px 0 60px 0;
  color:#fff;  
}
.petsitter_trust .trust_area h3{
  margin-bottom:0;
}  
.petsitter_trust .trust_area p{
  margin-top:0;
  margin-bottom:5px;
  font-size:15px;
  line-height:1.5em;
  font-weight:300;
}
.petsitter_trust .trust_area a{
  color: rgb(5, 92, 245);
  font-weight:500;
}
.petsitter_trust .trust_area{
  display:flex;
  max-width:1050px;
  margin:0 auto;
}
.petsitter_trust .trust_area div{
  width:30.5%;
  background:#fff;
  padding:25px 25px;
  margin-right:20px;
}
  /*펫 어플  */
  .pet_app{
    padding:110px 0 18px 0;
    max-width:830px;
    margin:0 auto;    
    overflow:hidden;
  }
  .pet_app_content{
    float:left;
    width:50%;
  }
  .pet_app_content h2{
    margin:0;
    padding:0;
  }
  .pet_app_content p{
    margin:30px 0;
  }
  .store_img{
    display:flex;align-items: center;
  }
  .store_img .google_store_img img{
    width:150px;
  }
  .pet_app_custommer{
    width:50%;
    float:right;
  }
  .app_more a{
    display:flex;
  }
  /* 자주 묻는 질문 */
  .service_toggle{
    padding-bottom:110px;
    max-width:830px;
    margin:0 auto;  
  }
  .service_toggle article{
    border-top:1px solid #eee;
  }
  .service_toggle article:nth-child(4){
    border-bottom:1px solid #eee;
  }  
  .service_toggle article button{
    border:0;
    background:0;
    padding:16px;    
    cursor: pointer;
    text-align:left;
    width:100%;
    font-weight:700;
    font-size:1rem;
  }  
  .toggle_show{
  display:none;
  background:#f3f4f8;
  padding:24px;
  font-weight:300;
  line-height:1.7em;  
}
.toggle_show p{
  margin:0;
}
.toggle_question_button{
  text-align:right;
}
.toggle_question_button a{
  color: rgb(5, 92, 245);
  font-weight:700;  
}
.toggle_question_button span img{
  vertical-align:top;
}
  /* 홈 서비스 */
  .home_service{
    max-width:1200px;
    margin:0 auto;  
    background:#f3f4f8;
    padding:64px 84px;
    margin-bottom:110px;
  }
  .home_service h2{
    padding:0;
    margin:0;
  }
  .home_service p{

  }
  .home_service ul{
    display:flex;
    justify-content: space-between;  
  }
  .home_service ul li{
    position:relative;
  }
  .home_service ul li img{
    width:74%;
    display:block;
  }
  .home_service ul li span{
    position:absolute;
    top:10px;
    left:15px;
    font-weight:500;
  } 

  /* 푸터 */
  .footer-area{
    background-color: rgb(38, 39, 40);
    padding-bottom:70px;
  }
  footer{
    width:1050px;
    margin:0 auto;
  }
  footer .footer-list{
    display:flex;
    align-items: center;
  }
  footer .footer-list ul{
    display:flex;
    margin-left:70px;
  }
  footer .footer-list ul li{
    
  }  
  footer .footer-list ul li a{
    color:#fff;
    padding:15px 20px;
    display:block;
  }
  footer .footer-content{
    color: rgb(163, 167, 174);
  }
  footer .footer-content p{
    font-size:13px;
  }